pandas
numpy
pillow
requests
sentence-transformers==3.1.1
faiss-cpu
torch==2.1.0
torchvision==0.16.0
transformers==4.40.0
tokenizers==0.19.1
plotly
streamlit==1.32.0
groq
python-dotenv
tqdm
altair==5.5.0